.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 100%;
    height: 200px;
    background: rgb(222,12,23);
    label {
        font-size: 45px;
        font-weight: 700;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 7px;
        color: #ffffff;
    }
    input {
        width: 50%;
        height: 30px;
        border: none;
        box-shadow: inset 0 0 2px #000000;
        border-radius: 4px;
    }
}