.garage-control {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}
.manage-block {
    display: flex;
    gap: 10px;
}

.nav {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
}

.pangination {
    padding-top: 20px;
    display: flex;
    gap: 15px;
}
