.showcase__filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    padding: 30px;
    @media screen and (max-width: 1092px) {
        width: 30%;
        padding: 30px 10px;
    }
}